<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>@126.com</string>
	<string>@263.com</string>
	<string>@qq.com</string>
	<string>@gmail.com</string>
	<string>@yahoo.com</string>
	<string>@msn.com</string>
	<string>@sina.com</string>
	<string>@baidu.com</string>
	<string>@sky.com</string>
	<string>@szx.com</string>
	<string>@yindatech.com</string>
</array>
</plist>
