<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[adorable]</key>
	<string>073.png</string>
	<key>[angry]</key>
	<string>010.png</string>
	<key>[awesome]</key>
	<string>044.png</string>
	<key>[bad luck]</key>
	<string>017.png</string>
	<key>[beat]</key>
	<string>035.png</string>
	<key>[beer]</key>
	<string>072.png</string>
	<key>[bike]</key>
	<string>077.png</string>
	<key>[booger]</key>
	<string>021.png</string>
	<key>[broken heart]</key>
	<string>066.png</string>
	<key>[bye]</key>
	<string>040.png</string>
	<key>[cake]</key>
	<string>078.png</string>
	<key>[camera]</key>
	<string>048.png</string>
	<key>[car]</key>
	<string>049.png</string>
	<key>[clap]</key>
	<string>023.png</string>
	<key>[clock]</key>
	<string>076.png</string>
	<key>[coffee]</key>
	<string>068.png</string>
	<key>[contempt]</key>
	<string>020.png</string>
	<key>[cool]</key>
	<string>016.png</string>
	<key>[crazy]</key>
	<string>007.png</string>
	<key>[cry]</key>
	<string>005.png</string>
	<key>[curse]</key>
	<string>019.png</string>
	<key>[cute]</key>
	<string>009.png</string>
	<key>[dizzy]</key>
	<string>004.png</string>
	<key>[fist]</key>
	<string>061.png</string>
	<key>[follow]</key>
	<string>075.png</string>
	<key>[football]</key>
	<string>085.png</string>
	<key>[gift]</key>
	<string>074.png</string>
	<key>[glove]</key>
	<string>080.png</string>
	<key>[gonna cry]</key>
	<string>039.png</string>
	<key>[greedy]</key>
	<string>006.png</string>
	<key>[grievance]</key>
	<string>033.png</string>
	<key>[hat]</key>
	<string>083.png</string>
	<key>[heart]</key>
	<string>065.png</string>
	<key>[hee hee]</key>
	<string>001.png</string>
	<key>[hug]</key>
	<string>028.png</string>
	<key>[hum]</key>
	<string>008.png</string>
	<key>[kiss]</key>
	<string>027.png</string>
	<key>[leaf]</key>
	<string>084.png</string>
	<key>[left hum]</key>
	<string>031.png</string>
	<key>[like]</key>
	<string>057.png</string>
	<key>[lol]</key>
	<string>002.png</string>
	<key>[love u]</key>
	<string>060.png</string>
	<key>[love]</key>
	<string>051.png</string>
	<key>[lust]</key>
	<string>022.png</string>
	<key>[meaningless]</key>
	<string>045.png</string>
	<key>[mic]</key>
	<string>069.png</string>
	<key>[mighty]</key>
	<string>047.png</string>
	<key>[money]</key>
	<string>014.png</string>
	<key>[moon]</key>
	<string>070.png</string>
	<key>[nice]</key>
	<string>003.png</string>
	<key>[no]</key>
	<string>055.png</string>
	<key>[ok]</key>
	<string>056.png</string>
	<key>[onlooker]</key>
	<string>046.png</string>
	<key>[panda]</key>
	<string>054.png</string>
	<key>[pig]</key>
	<string>067.png</string>
	<key>[plane]</key>
	<string>050.png</string>
	<key>[poor]</key>
	<string>062.png</string>
	<key>[question]</key>
	<string>036.png</string>
	<key>[quiet]</key>
	<string>032.png</string>
	<key>[rabbit]</key>
	<string>053.png</string>
	<key>[razz]</key>
	<string>015.png</string>
	<key>[right hum]</key>
	<string>030.png</string>
	<key>[rose]</key>
	<string>064.png</string>
	<key>[sad]</key>
	<string>024.png</string>
	<key>[scarf]</key>
	<string>079.png</string>
	<key>[shake hand]</key>
	<string>063.png</string>
	<key>[shy]</key>
	<string>038.png</string>
	<key>[sick]</key>
	<string>026.png</string>
	<key>[silent]</key>
	<string>041.png</string>
	<key>[sleepy]</key>
	<string>013.png</string>
	<key>[smile]</key>
	<string>012.png</string>
	<key>[snow]</key>
	<string>081.png</string>
	<key>[snowman]</key>
	<string>082.png</string>
	<key>[strong]</key>
	<string>042.png</string>
	<key>[sun]</key>
	<string>071.png</string>
	<key>[supercilious]</key>
	<string>029.png</string>
	<key>[surprise]</key>
	<string>018.png</string>
	<key>[sweat]</key>
	<string>011.png</string>
	<key>[tempt]</key>
	<string>058.png</string>
	<key>[think]</key>
	<string>025.png</string>
	<key>[ultraman]</key>
	<string>052.png</string>
	<key>[weak]</key>
	<string>043.png</string>
	<key>[winking]</key>
	<string>037.png</string>
	<key>[yawn]</key>
	<string>034.png</string>
	<key>[yeah]</key>
	<string>059.png</string>
	<key>[不要]</key>
	<string>055.png</string>
	<key>[互粉]</key>
	<string>075.png</string>
	<key>[亲亲]</key>
	<string>027.png</string>
	<key>[伤心]</key>
	<string>066.png</string>
	<key>[偷笑]</key>
	<string>015.png</string>
	<key>[兔子]</key>
	<string>053.png</string>
	<key>[勾引]</key>
	<string>058.png</string>
	<key>[可爱]</key>
	<string>009.png</string>
	<key>[右哼哼]</key>
	<string>030.png</string>
	<key>[吃惊]</key>
	<string>018.png</string>
	<key>[咖啡]</key>
	<string>068.png</string>
	<key>[哈哈]</key>
	<string>002.png</string>
	<key>[哈欠]</key>
	<string>034.png</string>
	<key>[哼]</key>
	<string>008.png</string>
	<key>[啤酒]</key>
	<string>072.png</string>
	<key>[喜欢]</key>
	<string>003.png</string>
	<key>[嘘]</key>
	<string>032.png</string>
	<key>[嘻嘻]</key>
	<string>001.png</string>
	<key>[围巾]</key>
	<string>079.png</string>
	<key>[围观]</key>
	<string>046.png</string>
	<key>[太阳]</key>
	<string>071.png</string>
	<key>[奥特曼]</key>
	<string>052.png</string>
	<key>[委屈]</key>
	<string>033.png</string>
	<key>[威武]</key>
	<string>047.png</string>
	<key>[害羞]</key>
	<string>038.png</string>
	<key>[左哼哼]</key>
	<string>031.png</string>
	<key>[差劲]</key>
	<string>062.png</string>
	<key>[帽子]</key>
	<string>083.png</string>
	<key>[弱]</key>
	<string>043.png</string>
	<key>[强]</key>
	<string>042.png</string>
	<key>[微笑]</key>
	<string>012.png</string>
	<key>[心]</key>
	<string>065.png</string>
	<key>[快哭了]</key>
	<string>039.png</string>
	<key>[怒]</key>
	<string>010.png</string>
	<key>[怒骂]</key>
	<string>019.png</string>
	<key>[思考]</key>
	<string>025.png</string>
	<key>[悲伤]</key>
	<string>024.png</string>
	<key>[手套]</key>
	<string>080.png</string>
	<key>[抓狂]</key>
	<string>007.png</string>
	<key>[抱抱]</key>
	<string>028.png</string>
	<key>[拜拜]</key>
	<string>040.png</string>
	<key>[拳头]</key>
	<string>061.png</string>
	<key>[挖鼻屎]</key>
	<string>021.png</string>
	<key>[挤眼]</key>
	<string>037.png</string>
	<key>[握手]</key>
	<string>063.png</string>
	<key>[敲打]</key>
	<string>035.png</string>
	<key>[晕]</key>
	<string>004.png</string>
	<key>[月亮]</key>
	<string>070.png</string>
	<key>[树叶]</key>
	<string>084.png</string>
	<key>[汗]</key>
	<string>011.png</string>
	<key>[汽车]</key>
	<string>049.png</string>
	<key>[泪]</key>
	<string>005.png</string>
	<key>[浮云]</key>
	<string>045.png</string>
	<key>[熊猫]</key>
	<string>054.png</string>
	<key>[爱你]</key>
	<string>060.png</string>
	<key>[爱心]</key>
	<string>051.png</string>
	<key>[猪头]</key>
	<string>067.png</string>
	<key>[玫瑰]</key>
	<string>064.png</string>
	<key>[生病]</key>
	<string>026.png</string>
	<key>[疑问]</key>
	<string>036.png</string>
	<key>[白眼]</key>
	<string>029.png</string>
	<key>[相机]</key>
	<string>048.png</string>
	<key>[睡觉]</key>
	<string>013.png</string>
	<key>[礼物]</key>
	<string>074.png</string>
	<key>[给力]</key>
	<string>044.png</string>
	<key>[耶]</key>
	<string>059.png</string>
	<key>[自行车]</key>
	<string>077.png</string>
	<key>[色]</key>
	<string>022.png</string>
	<key>[萌]</key>
	<string>073.png</string>
	<key>[蛋糕]</key>
	<string>078.png</string>
	<key>[衰]</key>
	<string>017.png</string>
	<key>[赞]</key>
	<string>057.png</string>
	<key>[足球]</key>
	<string>085.png</string>
	<key>[鄙视]</key>
	<string>020.png</string>
	<key>[酷]</key>
	<string>016.png</string>
	<key>[钟]</key>
	<string>076.png</string>
	<key>[钱]</key>
	<string>014.png</string>
	<key>[雪人]</key>
	<string>082.png</string>
	<key>[雪花]</key>
	<string>081.png</string>
	<key>[飞机]</key>
	<string>050.png</string>
	<key>[馋嘴]</key>
	<string>006.png</string>
	<key>[麦克风]</key>
	<string>069.png</string>
	<key>[黑线]</key>
	<string>041.png</string>
	<key>[鼓掌]</key>
	<string>023.png</string>
</dict>
</plist>
